<div class="gbook">

{EINTRAEGE_BEGINN}

  <p><ul class="pagination">{GB_SEITEN}</ul></p>

  <!-- BEGIN EintragsUebersicht -->
  <div class="entry">
   <p>
     <span class="label">Name:</span>
     <span class="value">{AUTHOR_VALUE}</span>
   </p>
   <p>
     <span class="label">Email:</span>
     <span class="value">{EMAIL_VALUE}</span>
   </p>
   <p>
     <span class="label">Homepage:</span>
     <span class="value">{HOMEPAGE_VALUE}</span>
   </p>
   <p>
     <span class="label">Wohnort:</span>
     <span class="value">{WOHNORT_VALUE}</span>
   </p>
   <p>
     <span class="label">Verfasst:</span>
     <span class="value">{DATUM_VALUE}</span>
   </p>
   <p>
     <span class="label">Nachricht:</span>
     <span class="value">{NACHRICHT_VALUE}</span>
   </p>

   {ANTWORT_VORHANDEN_BEGINN} 
   <p class="reply">
     <span class="label">Antwort:</span>
     <span class="value">{ANTWORT_VALUE}</span>
   </p>
   {ANTWORT_VORHANDEN_ENDE} 

  </div>
  <!-- END EintragsUebersicht -->

   
<p><ul class="pagination">{GB_SEITEN}</ul></p>

{EINTRAEGE_ENDE}


{KEINE_EINTRAEGE_BEGINN}

<p>keine Einträge vorhanden!</p>

{KEINE_EINTRAEGE_ENDE}

</div>
       