<div class="a63-gbook">

{EINTRAEGE_BEGINN}

  <p><ul class="a63-pagination">{GB_SEITEN}</ul></p>

  <!-- BEGIN EintragsUebersicht -->
  <div class="a63-entry">
   <p>
     <span class="a63-label">Name:</span>
     <span class="a63-value">{AUTHOR_VALUE}</span>
   </p>
   <p>
     <span class="a63-label">Email:</span>
     <span class="a63-value">{EMAIL_VALUE}</span>
   </p>
   <p>
     <span class="a63-label">Homepage:</span>
     <span class="a63-value">{HOMEPAGE_VALUE}</span>
   </p>
   <p>
     <span class="a63-label">Wohnort:</span>
     <span class="a63-value">{WOHNORT_VALUE}</span>
   </p>
   <p>
     <span class="a63-label">Verfasst:</span>
     <span class="a63-value">{DATUM_VALUE}</span>
   </p>
   <p>
     <span class="label">Nachricht:</span>
     <span class="value">{NACHRICHT_VALUE}</span>
   </p>

   {ANTWORT_VORHANDEN_BEGINN}
   <p class="a63-reply">
     <span class="a63-label">Antwort:</span>
     <span class="a63-value">{ANTWORT_VALUE}</span>
   </p>
   {ANTWORT_VORHANDEN_ENDE}

  </div>
  <!-- END EintragsUebersicht -->


<p><ul class="a63-pagination">{GB_SEITEN}</ul></p>

{EINTRAEGE_ENDE}


{KEINE_EINTRAEGE_BEGINN}

<p>keine Einträge vorhanden!</p>

{KEINE_EINTRAEGE_ENDE}

</div>
